html{
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color:black;
  margin: 15px;
  max-width: 320px;
  font-family: sans-serif; 
}

img {
  max-width: 100%;
}

header {
  background-image: url(file:///Users/TomalaAlyssa/Sites/14-Techmag/14-techmag-ressources/code.jpg);
  border-width: 2px;
  border-color: white;
  border-style: solid;
  color: white;
  padding: 25px 80px 25px 30px;
  margin-bottom: 20px;
  font-weight: 200;
}

header h1 {
  font-weight: bold;
}

header em {
  color: #2afca6;
  font-weight: 200;
}

div {
  background-color: #2afca6;
  color: #0e6a49;
  padding: 32px 35px 50px 30px;
}

div h2 {
  font-size: 16px;
}

article {
  background-color: #ffffff;
}

article h1{
  color: black;
  font-size: 16px;
}

article p {
  color: #a7a7a7;
}